
h2.title {
    font-family: "Volkhov",serif;
    color: #1b494b;
    text-align: left;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}

.projectImage {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.slide, .image-info {
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 40%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
}

.dot-row {
  padding: 5px;
}

#grey-dot {
  background-color: rgb(201, 201, 201);
}

#orange-dot {
  background-color: rgb(252, 124, 78);
}

/* Creates advancement arrows. */

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 38%;
  width: auto;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: -10%;
}

.previous {
  left: 0;
  border-radius: 3px 0 0 3px;
  margin-left: -10%;
}

/* On hover, add a black background color with a little bit see-through. */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.185);
}

.content {
  margin-left: 10%;
  margin-right:10%;
  width: 80%;
  align-items: center;
  font-size: 16px;
  color: black;
  position: auto;
  justify-content: space-evenly;
  border: 10px;
  border-radius: 1%;
  display: block;
}

a.list-name {
  display: block;
}